mixin getMeta(data)
  //- general meta-data
  - if (data.keywords)
      meta(name='keywords' content=data.keywords)
  - if (data.description)
      meta(name='description' content=data.description)
  - if (data.subject)
      meta(name='subject' content=data.subject)
  - if (data.copyright)
      meta(name='copyright' content=data.copyright)
  meta(name='language' content=data.language?data.language:'EN')
  meta(name='robots' content=data.robots?data.robots:'index,follow')
  - if (data.revised)
      meta(name='revised' content=data.revisit)
  - if (data.abstract)
      meta(name='abstract' content=data.abstract)
  meta(name='topic' content=data.topic?data.topic:data.description?data.description:null)
  meta(name='summary' content=data.summary?data.summary:data.description?data.description:null)
  meta(name='Classification' content=data.classification?data.classification:'business')
  meta(name='author' content=data.author?data.author:'Innovix Solutions, tech@innovix-solutions.com')
  meta(name='designer' content=data.author?data.designer:'Innovix Solutions')
  meta(name='copyright' content=data.copyright?data.copyright:`Copyright &copy; ${(new Date()).getFullYear()}. Innovix Digital Co., Ltd. All Rights Reserved.`)
  meta(name='reply-to' content=data.replyTo?data.replyTo:'tech@innovix-solutions.com')
  meta(name='owner' content=data.owner?data.owner:'Innovix Solutions')
  meta(name='url' content=data.url?data.url:'http://www.innovixdigital.com/')
  meta(name='identifier-URL' content=data.identifierURL?data.identifierURL:'http://www.innovixdigital.com/')
  meta(name='directory' content=data.directory?data.directory:'/')
  meta(name='category' content=data.category?data.category:data.classification?data.classification:'business')
  meta(name='coverage' content=data.coverage?data.coverage:'Worldwide')
  meta(name='distribution' content=data.distribution?data.distribution:'Global')
  meta(name='rating' content=data.rating?data.rating:'General')
  meta(name='revisit-after' content=data.revisitAfter?data.revisitAfter:'7 days')
  meta(http-equiv='Expires' content=data.expires?data.expires:'0')
  meta(http-equiv='Pragma' content=data.pragma?data.pragma:'no-cache')
  meta(http-equiv='Cache-Control' content=data.cahceControl?dta.cahceControl:'no-cache')
  meta(charset=data.charset?data.charset:'UTF-8')
  meta(name='viewport', content=data.viewport?data.viewport:'width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible', content='ie=edge')

  //- og tag

  //-   css
  - if (meta.css)
      - for (let i=0; i<meta.css.length; i++)
          link(rel="stylesheet", href=meta.css[i])
